<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">SoloDevBoard</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Dashboard
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="repositories">
                <span class="bi bi-folder-fill-nav-menu" aria-hidden="true"></span> Repositories
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="migrate">
                <span class="bi bi-arrow-left-right-nav-menu" aria-hidden="true"></span> Migrate
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="labels">
                <span class="bi bi-tag-fill-nav-menu" aria-hidden="true"></span> Labels
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="board-rules">
                <span class="bi bi-list-check-nav-menu" aria-hidden="true"></span> Board Rules
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="triage">
                <span class="bi bi-inbox-fill-nav-menu" aria-hidden="true"></span> Triage
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="workflows">
                <span class="bi bi-diagram-3-fill-nav-menu" aria-hidden="true"></span> Workflows
            </NavLink>
        </div>
    </nav>
</div>

