{{- $pages := where (where site.RegularPages "Section" "docs") "Params.landing" true -}}
{{- $pages = sort $pages "Weight" -}}
<table>
  <thead>
    <tr>
      <th>Feature</th>
      <th>Description</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
{{- range $pages }}
    <tr>
      <td>
        <a href="{{ .RelPermalink }}" class="hx:inline-flex hx:items-center hx:gap-2.5">
          {{ partial "feature-icon.html" (dict "page" .) }}
          <span>{{ .Title }}</span>
        </a>
      </td>
      <td>{{ .Params.landingSubtitle }}</td>
      <td>{{ .Params.guideStatus | default "Available" }}</td>
    </tr>
{{- end }}
  </tbody>
</table>
