{{- $pages := where (where site.RegularPages "Section" "docs") "Params.landing" true -}}
{{- $pages = sort $pages "Weight" -}}
<div
  class="hextra-feature-grid hx:grid hx:sm:max-lg:grid-cols-2 hx:max-sm:grid-cols-1 hx:gap-4 hx:w-full not-prose"
  style="--hextra-feature-grid-cols: 3;"
>
{{- range $pages }}
  {{- $title := .Title -}}
  <div
    class="hextra-feature-card not-prose hx:block hx:relative hx:overflow-hidden hx:rounded-3xl hx:border hx:border-gray-200 hx:dark:border-neutral-800 hx:before:pointer-events-none hx:before:absolute hx:before:inset-0 hx:before:bg-glass-gradient"
    style="background: radial-gradient(ellipse at 50% 80%, rgba(59, 130, 246, 0.08), hsla(0, 0%, 100%, 0));"
  >
    <div class="hx:relative hx:w-full hx:p-6">
      <h3 class="hx:text-2xl hx:font-medium hx:leading-6 hx:mb-2 landing-feature-heading">
        {{ partial "feature-icon.html" (dict "page" .) }}
        <span>{{ $title }}</span>
      </h3>
      <p class="hx:text-gray-500 hx:dark:text-gray-400 hx:text-sm hx:leading-6">{{ .Params.landingSubtitle }}</p>
    </div>
  </div>
{{- end }}
</div>
